[submodule "esp-idf"]
	path = esp-idf
	url = git@github.com:espressif/esp-idf.git
[submodule "components/esp-aws-iot"]
	path = components/esp-aws-iot
	url = git@github.com:espressif/esp-aws-iot.git
[submodule "components/lvgl"]
	path = components/lvgl
	url = git@github.com:lvgl/lvgl.git
