[submodule "aws-iot-device-sdk-embedded-C"]
	path = aws-iot-device-sdk-embedded-C
	url = git@github.com:aws/aws-iot-device-sdk-embedded-C.git
[submodule "esp-idf"]
	path = esp-idf
	url = git@github.com:espressif/esp-idf.git
